<ion-view title="Shop name">
	<ion-content>
		<div class="list card">
      <div class="item item-divider positive">2</div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-75 meal-name">something</div>
          <p class="col col-15 meal-price">$50</p>
          <p class="col col-10 meal-amout">55</p>
        </div>
        <div class="row">
          <div class="col col-75 meal-name">somthing</div>
          <p class="col col-15 meal-price">$150</p>
          <p class="col col-10 meal-amout">55</p>
        </div>
        <div class="positive total">Total: $500</div>
      </div>
      <div class="row">
        <a class="col col-50 button button-clear button-assertive" href="#">Picked up</a>
        <a class="col col-50 button button-clear" href="#">Notify</a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider positive">1</div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-75 meal-name">something</div>
          <p class="col col-15 meal-price">$50</p>
          <p class="col col-10 meal-amout">55</p>
        </div>
        <div class="row">
          <div class="col col-75 meal-name">somthing</div>
          <p class="col col-15 meal-price">$150</p>
          <p class="col col-10 meal-amout">55</p>
        </div>
        <div class="positive total">Total: $500</div>
      </div>
      <div class="row">
        <a class="col button button-clear button-assertive" href="#">Picked up</a>
      </div>
    </div>
	</ion-content>
</ion-view>