<ion-view ng-model="shop" view-title="shop">
	<ion-nav-title>
    {{ shop }}
  </ion-nav-title>
  <ion-content>
  	<div class="list card" ng-repeat="meal in meals">
      <div class="item item-image">
        <a href="#/app/meal{{ meal.id }}">
          <img src="{{ meal.cover }}">
        </a>
        </div>
        <div class="item item-icon-right">
          {{ meal.name }}
          <p class="subdued">${{ meal.price }}</p>
          <a class="button button-icon icon ion-heart" ng-click="like(meal)" ng-class="{ like: meal.like }"></a>
        </div>
      </div>
  </ion-content>
</ion-view>
