<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">menu</h1>
      <a nav-clear menu-close class="button button-clear" ng-click="login()">login</a>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home" class="positive">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/shopList" class="positive">
          Shops
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myPlate" class="positive">
          My plate
        </ion-item>
        <!--ion-item nav-clear menu-close href="#/app/myOrder" class="positive">
          My order
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myFavorite" class="positive">
          My favorite
        </ion-item-->
        <ion-item nav-clear menu-close href="#/app/purchaseRecords" class="positive">
          Purchase records
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings" class="positive">
          Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/keeper" class="positive">
          keeper
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
