<ion-view title="My Order">
  <ion-content>
    <div class="card card-ready">
      <div class="row">
        <div class="col">
          <div class="number">
            100
          </div>
        </div>
        <div class="col">
          <p class="shop-name">店家名字</p>
          <p class="pickup-time">yyyy.mm.dd hh:mm</p>
        </div>
      </div>
    </div>
    <div class="card card-unready">
      <div class="row">
        <div class="col">
          <div class="number">
            20
          </div>
        </div>
        <div class="col">
          <p class="shop-name">Shop</p>
          <p class="pickup-time">yyyy.mm.dd hh:mm</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
