<ion-view title="My Plate">
  <ion-nav-title>
    我的餐盤
  </ion-nav-title>
  <ion-content>
    <div class="list card" ng-repeat="plate in plates">
      <div class="item item-divider positive">
        {{ plate.shop.name }}
      </div>
      <div class="item item-select" ng-repeat="meal in plate.meals">
        <div class="row">
          <div class="col col-66 meal-name">{{ meal.name }}</div>
          <p class="col col-15 meal-price">${{ meal.price }}</p>
          <div class="col col-15 meal-amout">
            <select>
              <option>0</option>
              <option selected>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="item">
        <div class="positive total">Total: ${{ plate.total }}</div>
      </div>
      <div class="item item-divider">
        <ionic-timepicker input-obj="timePickerObject24Hour">
          <button class="button button-block button-clear button-positive overflowShow">
            <standard-time-no-meridian etime='timePickerObject24Hour.inputEpochTime'></standard-time-no-meridian>
          </button>
        </ionic-timepicker>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive">
    <div class="button-bar">
      <a class="button button-clear" ng-click="order()">我要點餐</a>
    </div>
  </div>
</ion-view>