<ion-view title="My Plate">
  <ion-content>
    <div class="list card">
      <div class="item item-divider positive">
        Shop name
      </div>
      <div class="item item-select">
        <div class="row">
          <div class="col col-66 meal-name">something</div>
          <p class="col col-15 meal-price">$50</p>
          <div class="col col-15 meal-amout">
            <select>
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="positive total">Total: $9000</div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive">
    <div class="button-bar">
      <a class="button button-clear">order</a>
    </div>
  </div>
</ion-view>