<ion-view title="Purchase Records">
  <ion-nav-title>
    訂餐紀錄
  </ion-nav-title>
  <ion-content>
    <div class="list card" ng-repeat="plate in plates">
      <div class="item item-divider positive">{{ plate.shop.name }}</div>
      <div class="item item-text-wrap">
        <div class="row" ng-repeat="meal in plate.meals">
          <div class="col col-75 meal-name">{{ meal.name }}</div>
          <p class="col col-15 meal-price">${{ meal.price }}</p>
          <p class="col col-10 meal-amout">1</p>
        </div>
        <div class="positive total">Total: $</div>
      </div>
    </div>
    
  </ion-content>
</ion-view>